<%= form_with model: [@board, @task ] do |form| %>
  <p>
    <%= form.label :title_task %><br>
    <%= form.text_field :title_task %>
  </p>
  <p>
    <%= form.label :body %><br>
    <%= form.text_area :body %>
  </p>
  <p class="mb-5">
    <%= form.label :status %><br>
    <%= form.select :status, ["In Dev", "QA", "Done"] %>
  </p>
  </p>
  <p class="mb-5">
    <%= form.label :nickname %><br>
    <%= form.select :nickname, @users.map {|user| user.nickname} %>
  </p>
  <p class="flex w-28 p-1 border-2 mx-auto border-black rounded-md hover:bg-blue">
    <%= form.submit %>
  </p>
<% end %>

