<div class="container">
  <h2 class="title">Login</h2>
  <p>Enter your email and password to log in to the site</p>

  <div>
    <%= form_with scope: :session, url: session_index_path do |form| %>
      <p><%= form.label :email %></p>
      <p><%= form.text_field :email, class: 'form-text-field' %></p>

      <p><%= form.label :password %></p>
      <p><%= form.password_field :password, class: 'form-text-field' %></p>
      
      <p><%= form.submit 'To come in', class: 'button button-main'%></p>
    <% end %>
  </div>
</div>
