<div class="flex justify-between items-center font-mono mx-auto self-center px-10 mb-10">
  <%= link_to "Add new task", new_board_task_path(@board), class: "hover:underline" %>
  <div class="flex-col">
    <h1 class="text-3xl mb-2 font-bold"><%= @board.title %></h1>
    <p><%= @board.body %></p>
  </div>
  <ul>
    <li class="hover:underline"><%= link_to "Edit", edit_board_path(@board) %></li>
    <li class="hover:underline"><%= link_to "Destroy", board_path(@board), data: {
                      turbo_method: :delete,
                      turbo_confirm: "Are you sure?"
                    } %></li>
  </ul>
</div>

<ul>
  <% @board.tasks.each do |task| %>
    <li>
      <a href="/boards/<%= @board.id %>/tasks/<%= task.id %>">
        <%= task.title_task %>
      </a>
    </li>
  <% end %>
</ul>


