<!DOCTYPE html>
<html>
  <head>
    <title>MyTaskManager</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
  </head>

  <body>
    <div>
      <div class="flex justify-between p-5 bg-gray mb-5">
        <p class="text-orange text-6xl font-mono font-black mx-auto self-center pl-40 hover:underline"><%= link_to "MyTaskManager", root_path %></p>
        <div class="flex items-center place-items-end gap-2">
          <% if current_user.present? %>
            <div class="flex p-0.5 px-2 rounded-md bg-green">
              <%= "@#{current_user.nickname}" %>
            </div>
            <%= button_to "Sign out", session_path(session), method: :delete, class: "flex p-1 border-2 border-black rounded-md hover:bg-blue" %>
          <% else %>
            <%= link_to "Registration", new_user_path, class: "flex p-1 border-2 border-black rounded-md bg-white hover:bg-blue" %>
            <%= link_to "Login", new_session_path, class: "flex p-1 border-2 border-black rounded-md bg-white hover:bg-blue" %>
          <% end %>
        </div>
      </div>

      <% if flash[:notice].present? %>
        <p><%= flash[:notice] %></p>
      <% elsif flash[:alert].present? %>
        <p><%= flash[:alert] %></p>
      <% end %>
      <%= yield %>
    </div>
  </body>
</html>
